.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  display: none;
}

.dropdown-menu.visible {
  display: block;
}

ul,
ol {
  list-style-type: none;
}
